<div class="card">
  <div class="card-header">
    Listado de departamentos
  </div>
<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary  " type="button" [routerLink]="['departamento/form']"> Registrar</button>

</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentos | async">
        <td>{{departamento.nombre}}</td>
    </tr>
  </tbody>

</table>




</div>